body {
    margin: 0;
}

span {
    border: 2px solid red;
    display: inline;
}

.container {
    text-align: center;
    display: inline;
    border: 2px solid green;
    padding: 10px;
}

.box {
    background-color: pink;
    display: inline;
    margin: 2px;
}